@inherits AbiCodeGenerateBase;

    <div class="simple-form">

        <p>Generates a .Net API for your smart contract.</p>

        <div class="form-group">
            <label for="contractName">Contract Name:</label>
            <input type="contractName" class="form-control" @bind="@Model.ContractName" aria-describedby="contractNameHelp" />
            <small id="contractNameHelp" class="form-text text-muted">The smart contract name</small>
        </div>

        <div class="form-group">
            <label for="abi">ABI:</label>
            <input type="abi" class="form-control" @bind="@Model.Abi" aria-describedby="abiHelp" />
            <input type="file" class="btn btn-primary" @ref="@ABIFileUpload" @ref:suppressField @onchange="@ReadFileABI" />
            <small id="abiHelp" class="form-text text-muted">The ABI is JSON which contains the contract metadata including the constructor, functions and events.  Select the ABI file or paste the contents.</small>
            <small id="abiCodeHelp" class="form-text text-muted">
            [ If you're using <a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=JuanBlanco.solidity">solidity vscode</a>, after compilation, select the "contractName".abi file in your bin folder.  If you're using <a target="_blank" href="https://remix.ethereum.org">Remix</a>,  copy it directly from there.  
                You can also use <a target="_blank" href="https://etherscan.io/address/0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2#code">Etherscan</a> to retrieve the ABI for existing contracts. ]
            </small>
        </div>

        <div class="form-group">
            <label for="byteCode">ByteCode:</label>
            <input type="byteCode" class="form-control" @bind="@Model.ByteCode" aria-describedby="byteCodeHelp" />
            <input type="file" class="btn btn-primary" @ref="@ByteCodeFileUpload" @ref:suppressField @onchange="@ReadFileByteCode" />
            <small id="byteCodeHelp" class="form-text text-muted">
                The smart contract deployment compiled ByteCode.
            </small>
            <small id="byteCodeHelp" class="form-text text-muted">
                [ If you're using <a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=JuanBlanco.solidity">solidity vscode</a>, after compilation, select the "contractName".bin file in your bin folder. If you're using <a target="_blank" href="https://remix.ethereum.org">Remix</a>, copy it directly from there. ]
            </small>
        </div>

        <div class="form-group">
            <button @onclick="@Model.CodeGenerateAsync" class="btn btn-secondary">Generate code</button>
        </div>

        <div class="form-group">
            <p><small>*Note the file generated will be saved on the browser local storage</small></p>
        </div>
    </div>
