@inherits LoadFileBase;

    <div class="simple-form">
        <div class="form-group">
            <input type="file" class="btn btn-primary" accept="@Model.AllowedExtension" @ref="@FileUpload" multiple @onchange="@OnChange" />
            
            @if (string.IsNullOrEmpty(Model.FileName))
            {
                <button class="btn btn-primary" disabled >Load file</button>
            }
            else
            {
                <button @onclick="@ReadFile" class="btn btn-primary">Load file</button>
            }
       
        </div>
        <p><small>@Model.SubText</small></p>
    </div>
