@page "/VBIndex"

@inherits VBIndexModel

    <div class="card" style="width:1200px">
        <div class="card-header">
            <h5> Nethereum Playground
            </h5>
            <div class="sub-content"> The Nethereum Playground compiles and executes your .Net code in the browser using Wasm.</div>
        </div>
        <div class="card-body">

            <div class="input-group m-2 row justify-content-end">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="selectCodeSample">Select code sample:</div>
                </div>
                <select id="selectCodeSample" class="form-control col-sm-7" onchange="@CodeSampleChanged">
                    @for (int i = 0; i < CodeSamples.Length; i++)
                    {
                        <option value="@i">@CodeSamples[i].Name</option>
                    }
                </select>
            </div>
            <div class="row">
                <MonacoEditor EditorModel="@editorModel" Width="1200" Height="600" />
            </div>
            <button class="btn btn-primary m-2 right" onclick="@Run">Run Code</button>
            <div class="row form-group">
                <label for="id=" txtOutput">Output</label>
                <textarea bind=@Output class="form-control" id="txtOutput" rows="10"></textarea>
            </div>
        </div>
        </div>
