@inherits TokenBalanceBase
@using Microsoft.AspNetCore.Components


<div class="form-group">
    <label for="url">Url</label>
    <input type="text" class="form-control" id="urlInput" aria-describedby="urlHelp" placeholder="Enter rpc url" @bind="@RpcUrl" />
    <small id="urlHelp" class="form-text text-muted">The rpc url</small>
</div>
<div class="form-group">
    <label for="contractAddresInput">Contract Address</label>
    <input type="text" class="form-control" id="contractAddresInput" aria-describedby="contractAddressHelp" placeholder="Enter the contract address" @bind="@ContractAddress" />
    <small id="contractAddressHelp" class="form-text text-muted">The contract address</small>
</div>

<div class="form-group">
    <label for="accountAddresInput">Account Address</label>
    <input type="text" class="form-control" id="accountAddresInput" aria-describedby="accountAddressHelp" placeholder="Enter the account address" @bind="@AccountAddress" />
    <small id="accountAddressHelp" class="form-text text-muted">The account address</small>
</div>


<div class="form-group">
    <label for="accountBalance">Balance:</label>
    <label id="accountBalance">@Balance</label>
</div>


<button type="submit" class="btn btn-primary" @onclick="@GetTokenBalance">Get Token Balance</button>
